<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
    
      <a href="{{ "/" | relative_url }}">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        <img class="logo" src="{{ site.baseurl }}/logo.svg"></img>
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
  </header>
  {% include sidebar-nav-links.html %}

  {% include sidebar-icon-links.html %}
</div>
